﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div>
        <nav>
            <a asp-controller="Home" asp-action="Index">Sabrina's Blog</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="Travel">Travel</a>
            @*<a asp-controller="Home" asp-action="Edit">Create Post</a>*@
            <a asp-controller="Panel" asp-action="Index">Admin Panel</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Authentication" asp-action="LogOut">Log Out</a>


            }
            else
            {
                <a asp-controller="Authentication" asp-action="LogIn">Log In</a>
            }

        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
  @RenderSection("scripts", required: false)
</body>
</html>
