﻿@model LogInViewModel
@{

}
<div>
    <form asp-controller="Authentication" asp-action="LogIn" method="post">
        <div>
            <label>User Name : </label>
            <input asp-for="UserName" />
        </div>
        <div>
            <label>Password : </label>
            <input asp-for="Password" />
        </div>
        <input type="submit" value="Log In" />
    </form>
</div>