﻿@model IEnumerable<Post>
@{
    ViewBag.Title = "";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
}


<div class="main-img">
    <span class="title"> Sabrina's Blog Site! </span>
</div>
<div class="container">
    @*<ul>
            @foreach (var post in Model)
            {
                <li>
                    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.ID">
                        @post.Title
                    </a>
                </li>
            }
        </ul>*@
    @foreach (var post in Model)
    {
        var img_path = $"/Image/{post.Image}";
    <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.ID">
        <span class="title">@post.Title</span>       
        <img src=@img_path />
    </a>
    }
</div>

