﻿@model Post

    @{
        ViewBag.Title = Model.Title;
        ViewBag.Description = Model.Description;
        ViewBag.Keywords = $"{Model.Tag?.Replace("," , "")}{Model.Category}";
    }
@*<div class="text-center">
    <h1 class="display-4">@Html.DisplayNameFor(model => model.Title)</h1>
    <p>@Html.DisplayNameFor(model => model.ID)</p>
    <p>@Html.DisplayNameFor(model => model.Body)</p>
</div>*@
@*<div class="text-center">
    <h1 class="display-4"> @Model.Title</h1>
    @if(!string.IsNullOrEmpty(Model.Image))
    {
        var img_path = $"/Image/{Model.Image}"
        <img src=@img_path width="500px"/>
    }
    <p>@Model.Body</p>
</div>*@
<div class="container">
    <div class="post">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            var img_path = $"/Image/{Model.Image}";
    <img src=@img_path width="500px" />
    <span class="title">@Model.Title</span>
}
    </div>
    <div class="post-body">
        @Html.Raw(Model.Body)
    </div>
</div>