﻿body {
    margin:0;
    background-color:whitesmoke;
}
a {
    color: white;
    text-decoration:none;
}
    a:hover {
        text-decoration:underline;
     }
nav{
    background-color:#142127;
    height:50px;
    width:100%;
    text-align:center;
}
    nav a{
       display:inline-block;
       padding:15px;
     }
.main-img {
    height: 500px;
    background-image:url('../content/static/download (1).jpg');
    background-position: center;
    background-size: cover;
}
.title{
    position:absolute;
    color:black;
    font-size:40px;
    left:50%;
    transform:translateX(-50%);
    top:35%;
}
.container{
    max-width:800px;
    height:100%;
    margin:auto;
}
.post{
    margin:15px;
    position:relative;
    display:flex;
    height:400px;
    box-shadow:0 0 5px 0 black;
}
    .post img{
        width:100%;
        object-fit:cover;
    }
    .post-body{
        margin: -5px 5px 0;
        padding:20px 5px;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;

    }
    .no-shadow{
        box-shadow:none;
    }